#left-image{ 
    height: 400px;
    width: 30%;

}
#midlle-image{
    height: 400px;
    width: 30%;
} 
#right-image{
    height: 400px;
    width: 30%;
}

main{
    background-color: #D7B19D;
}

.styleme{
    font-family: 'Caveat', cursive;
    font-size: 35px;

}
footer{
    background-color: rgb(24, 22, 26);
    color:#FF94CC;
    width: 100%;
    
}
#Chart{
    width: 80% !important;
    height: 80% !important;
    
}