#left-image,#center-image,#right-image{
    height: 500px;
    width: 30%;
}

main{
    background-color: rgb(238, 245, 245);
}

.stylep{
    font-family: 'Caveat', cursive;
    font-size: 35px;

}
footer{
    background-color: rgb(24, 22, 26);
    color: rgb(233, 160, 240);
    width: 100%;
    
}